<div ng-include="'header.html'"></div>
<div id="wrapper">
<div style="margin-left:30%;margin-top:5%;">
 <div class="page-data">
            
                <table cellpadding="11">
                <tr>
                    <td>Client Name</td><td>: <input type="text" name="name" data-ng-model="company.company_name" required></td>
                 </tr>
                 <tr>
                    <td valign="top">Address</td>
                    <td valign="top">: 
                        <textarea name="address" required cols="30" rows="5" data-ng-model="company.address"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Email</td><td>: <input type="text" data-ng-model="company.email" name="email" required></td>
                 </tr>
                  <tr>
                    <td>Phone</td><td>: <input type="text" name="phone" data-ng-model="company.phone" required></td>
                 </tr>
                 <tr>
                    <td>Contact Person</td><td>: <input type="text" name="contact_person" data-ng-model="company.contact_person" required></td>
                 </tr>
                 <tr>
                    <td >&nbsp;</td>
                    <td>
                        <input type="submit" ng-click="save()" value="Save">
                       <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
                    </td>
                 </tr>
                </table>
            
            
        </div>
</div>
</div>