<div class="row-fluid">

<form class="form-horizontal span12">

<fieldset>

	<legend>
		Online Recruitment
	</legend>

     <br/>

            <div class="row">
                <div class="span8">

                    <div class="control-group">
                        <label class="control-label">Name:</label>

                        <div class="controls">
                            <input data-ng-model="wine.name" type="text">
                            <span class="help-inline"></span>

                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Year:</label>

                        <div class="controls">
                            <input data-ng-model="wine.year" type="text">
                            <span class="help-inline"></span>
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label">Grapes:</label>

                        <div class="controls">
                            <input data-ng-model="wine.grapes" type="text">
                            <span class="help-inline"></span>

                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Region:</label>

                        <div class="controls">
                            <input data-ng-model="wine.region" type="text">
                            <span class="help-inline"></span>

                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Country:</label>

                        <div class="controls">
                            <input data-ng-model="wine.country" type="text">
                            <span class="help-inline"></span>

                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Picture:</label>

                        <div class="controls">
                            <input type="file" file-Upload multiple/>
                            <ul>
                                <li ng-repeat="file in files">{{file.name}}</li>
                            </ul>

                        </div>
                    </div>

		       </div>


                


            </div>
 </fieldset>



<div class="form-actions">
    <button class="btn btn-primary save" ng-click="save()">Save</button>
    <a href="/" class="btn">Cancel</a>
</div>

</form>

</div>
