 <div class="control-group" style="margin-left:50%">
            <table >
                <tr>
                    <td valign="top"><input ng-model="q" id="search" class="form-control" placeholder="Filter text"></td>
                    <td>
                        <select ng-model="pageSize" id="pageSize" class="form-control">
                          <option value="5">5</option>
                          <option value="10">10</option>
                          <option value="15">15</option>
                          <option value="20">20</option>
                        </select>
                    </td>
                </tr>
            </table>
</div>