<!DOCTYPE html>

<div ng-include="'header.html'"></div>

<div ng-app="onlineRecApp" ng-controller="CandidateListController"> 

 <div id="wrapper">
            
            <div class="page-container">
            <div class="data-header-btn">
             <button>Candidate Information </button>
            </div>
            <div class="page-data">
            <div class="search-info-btn">
            <div class="data-btn">
                <table border="0" width="100%">
                  <tr>
                    <td  align="right">
                    <form method="POST" action="/candidates/find">Client Name <input type="text" name="candidate_name" >  <input type="submit" value="Search"/> </form>
                    </td>
                  </tr>
                </table>
            </div>
          </div>
           <div class="control-group" style="margin-left:50%">
            <table >
                <tr>
                    <td valign="top"><input ng-model="q" id="search" class="form-control" placeholder="Filter text"></td>
                    <td>
                        <select ng-model="pageSize" id="pageSize" class="form-control">
                          <option value="5">5</option>
                          <option value="10">10</option>
                          <option value="15">15</option>
                          <option value="20">20</option>
                        </select>
                    </td>
                </tr>
            </table>
          </div>
          <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
					          <th width="50px">ID</th>
                    <th>Candidate Name</th>
                    <th>Qualification</th>
                    <th>Skills</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Contact Person</th>
                    <th>CVs</th>
                    <th width="120px">Action</th>
                </tr>

              <tr ng-repeat="c in candidates | filter:q | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td>{{ c._id }}</td>
                <td>{{ c.candidate_name }}</td>
                <td>{{ c.qualification }}</td>
                <td>{{ c.skills }}</td>
                <td>{{ c.address }}</td>
                <td>{{ c.phone }}</td>
                <td>{{ c.email }}</td>
                <td>{{ c.contact_person }}</td>
                <td><a target="_self" href="/download/{{ c.candidate_name }}.docx" download="{{ c.candidate_name }}.docx">download</a></td>
                <td>
                        <a class="a-inside edit" href="#editCandidate/{{ c._id }}">Edit</a>
                        <a class="a-inside delete" href="/candidates/delete/{{ c._id }}">Delete</a>

                    </td>
              </tr>
          </table>
        </div>
        
        <div class="data-btn" style="margin-left:30%">
          <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous </button>
            {{currentPage+1}}/{{candidates.length/pageSize }}
          <button ng-disabled="currentPage >= candidates.length/pageSize - 1" ng-click="currentPage=currentPage+1"> Next </button>
        </div>
</div>


</body>
</html>
