<!DOCTYPE html>
<html>
  <head>
        
        <script src="/libs/angular.min.js"></script>

        <script src="/controllers/controllers.js"></script>
        <script src="/controllers/app.js"></script>
        <script src="/controllers/directives.js"></script>
        <script src="/controllers/filters.js"></script>
        <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" media="screen">
        <link rel="stylesheet" href="/libs/css/style.css" media="screen">
        

  </head>

<body>

<div ng-app="onlineRecApp" ng-controller="CandidateListController"> 

 <div id="wrapper">
            
            <div class="page-container">
            <div class="page-header bg-img" ><h2>Online Recruitment System</h2></div>
            <div class="data-header-btn">
             <button>Candidate Information </button>
            </div>
            <div class="page-data">
            <div class="search-info-btn">
            <div class="data-btn">
                <table border="0" width="100%">
                  <tr>
                    
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td width="10%">&nbsp;</td>
                    <td width="50%" align="right">
                    <form method="POST" action="/candidates/find">Client Name <input type="text" name="candidate_name" >  <input type="submit" value="Search"/> </form>
                    </td>
                  </tr>
                </table>
            </div>
          </div>
          <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
					          <th width="50px">ID</th>
                    <th>Candidate Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Contact Person</th>
                    <th width="120px">Action</th>
                </tr>

              <tr ng-repeat="c in candidates">
                <td>{{ c._id }}</td>
                <td>{{ c.candidate_name }}</td>
                <td>{{ c.qualification }}</td>
                <td>{{ c.address }}</td>
                <td>{{ c.email }}</td>
                <td>{{ c.phone }}</td>
                <td>
                        <a class="a-inside edit" href="../candidates/edit/{{ c._id }}">Edit</a>

                        <a class="a-inside delete" href="../candidates/delete/{{ c._id }}">Delete</a>

                    </td>
              </tr>
          </table>
        </div>

</div>



<script>
var app = angular.module('candidatesApp', []);
app.controller('candidatesCtrl', function($scope, $http) {
  $http.get("/candidates")
  .then(function(response) {
      $scope.companies = response.data;
  });
});
</script>

</body>
</html>
