<!DOCTYPE html>
<div ng-include="'header.html'"></div>

<div ng-app="onlineRecApp" ng-controller="ScheduleListController"> 

 <div id="wrapper">
            
            <div class="page-container">
           
            <div class="data-header-btn">
             <button>Schedule Information </button>
            </div>
            <div class="page-data">
          <div class="control-group" style="margin-left:50%">
            <table>
                <tr>
                    <td valign="top"><input ng-model="q" id="search" class="form-control" placeholder="Filter text"></td>
                    <td>
                        <select ng-model="pageSize" id="pageSize" class="form-control">
                          <option value="5">5</option>
                          <option value="10">10</option>
                          <option value="15">15</option>
                          <option value="20">20</option>
                        </select>
                    </td>
                </tr>
            </table>
          </div>
          <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">ID</th>
                    <th>Schedule Name</th>
                    <th>Address</th>
                    <th>Company Name</th>
                    <th>Candidate Name</th>
                    <th>Contact Person</th>
                    <th width="120px">Action</th>
                </tr>

              <tr ng-repeat="schedule in schedules | filter:q | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td>{{ schedule._id }}</td>
                <td>{{ schedule.schedule_name }}</td>
                <td>{{ schedule.address }}</td>
                <td>{{ schedule.company_name }}</td>
                <td>{{ schedule.candidate_name }}</td>
                <td>{{ schedule.contact_person }}</td>
                <td>
                  <a class="a-inside edit" href="#editSchedule/{{ schedule._id }}">Edit</a>
                  <a class="a-inside delete" href="/schedules/delete/{{ schedule._id }}">Delete</a>
                </td>
              </tr>
          </table>
        </div>
        <div class="data-btn" style="margin-left:30%">
          <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous </button>
            {{currentPage+1}}/{{schedules.length/pageSize }}
          <button ng-disabled="currentPage >= schedules.length/pageSize - 1" ng-click="currentPage=currentPage+1"> Next </button>
        </div>
</div>

</body>
</html>
